.btn-group {
  width: 502px;
  display: flex;
  background-color: #fff;
  height: fit-content;
  margin-bottom: 20px;
}

.btn {
  height: 50px;
  width: 50%;
  border: 1px solid #DFE5EC;
  box-sizing: border-box;
}

.tab {
  width: 502px;
  height: 100%;
}

.btn__more-tickets {
  margin: 0 0 40px 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}